.faq .question {
  font-size: 23px;
  margin-bottom: 8px;
}

.faq .answer {
  display: inline-block;
  font-size: 18px;
  padding: 10px;
  background-color: rgb(66, 63, 92);
  border: 3px dotted rgb(83, 81, 107);
}

.faq .answer p:first-child {
  margin-top: 0px;
}

.faq .answer p:last-child {
  margin-bottom: 0px;
}

.faq .answer .secret {
  text-decoration: underline dotted;
  text-decoration-thickness: 1px;
  cursor: pointer;
}

.faq .separator {
  margin: 22px 0px;
  border-bottom: 1px solid #fffae470;
}

.separator:last-child {
  display: none;
}

.not-a-guarian {
  opacity: 0.05;
  cursor: help;
}

.not-a-guarian:hover {
  opacity: 1;
}
