@font-face {
  font-family: "Title";
  src: url(./Fonts/OptimusPrinceps.ttf);
}

@font-face {
  font-family: "Subtitle";
  src: url(./Fonts/OptimusPrincepsSemiBold.ttf);
}

@font-face {
  font-family: "Body";
  src: url(./Fonts/LinLibertine_aDRS.ttf);
}

/*~*~*~*~*~*~*~*~*~*~*~*~*
  COMMON
~*~*~*~*~*~*~*~*~*~*~*~*~*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Title";
  border-bottom: 1px solid #fffae4;
}

.guarian-ref {
  background-color: rgb(31, 29, 44);
  color: #fffae4;
  padding: 5vh 4vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Body";
  font-size: 1.2em;
  line-height: 1.2;
}

a {
  color: #fffae4;
  text-decoration: none;
}

.guarian-ref .big-list {
  list-style-image: url("./Images/ulArrow.png");
  font-size: 22px;
}

.guarian-ref .big-list li {
  margin-bottom: 25px;
}

.guarian-ref .big-list li > ul > li:first-child {
  margin-top: 20px;
  font-size: 20px;
}

/*~*~*~*~*~*~*~*~*~*~*~*~*
  Menu ref
~*~*~*~*~*~*~*~*~*~*~*~*~*/

.menu-opener {
  position: fixed;
  top: 0px;
  left: 0px;
}

.menu-clickable {
  padding: 10px;
  background-color: rgb(51, 48, 73);
  cursor: pointer;
  user-select: none;
}

.menu-clickable:hover {
  background-color: rgb(60, 57, 85);
}

.menu-clickable:hover:active {
  background-color: rgb(39, 37, 56);
}

.overlay-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 0px;
  overflow-y: hidden;
  background-color: rgb(51, 48, 73);
  transition: 0.3s;
}

.overlay-menu .option {
  padding: 10px;
  cursor: pointer;
  user-select: none;
  display: block;
  white-space: nowrap;
}

.overlay-menu .option:hover {
  background-color: rgb(67, 64, 94);
}

.overlay-menu .option:hover:active {
  background-color: rgb(43, 42, 61);
}

.overlay-menu .option.selected {
  background-color: rgb(203, 200, 233);
  color: rgb(51, 48, 73);
  font-weight: bold;
}

.overlay-menu .option.selected:hover {
  background-color: rgb(216, 214, 245);
}

.overlay-menu .option.selected:hover:active {
  background-color: rgb(190, 188, 221);
}

/*~*~*~*~*~*~*~*~*~*~*~*~*
  Tab ref
~*~*~*~*~*~*~*~*~*~*~*~*~*/

.guarian-ref .content.flat-top {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.guarian-ref .tab-wrapper {
  display: flex;
  z-index: 1;
  margin-bottom: -1px;
}

.guarian-ref .tab-wrapper .tab {
  padding: 10px;
  background-color: rgb(51, 48, 73);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #fffcef;
}

.guarian-ref .tab-wrapper .tab.selected {
  padding-bottom: 11px;
  border-bottom: none;
}

.guarian-ref .tab-wrapper .tab:hover {
  background-color: rgb(67, 64, 94);
}

.guarian-ref .tab-wrapper .tab:hover:active {
  background-color: rgb(43, 42, 61);
}

.guarian-ref .tab-wrapper .tab.selected:hover,
.guarian-ref .tab-wrapper .tab.selected:hover:active {
  background-color: rgb(51, 48, 73);
}

/*~*~*~*~*~*~*~*~*~*~*~*~*
  Content
~*~*~*~*~*~*~*~*~*~*~*~*~*/

.guarian-ref .content {
  display: block;
  border: 1px solid #fffcef;
  border-radius: 10px;
  background-color: rgb(51, 48, 73);
  flex: 1;
  padding: 20px;
}

.guarian-ref .title {
  font-family: "Title";
  text-align: center;
  font-size: 2.5em;
  margin-top: 30px;
  border-bottom: none;
}

.guarian-ref .wrappable-row {
  display: flex;
  flex-wrap: wrap;
}

.guarian-ref .column {
  flex: 1;
  min-width: 300px;
  margin-top: 20px;
}

.guarian-ref .big-text {
  font-family: "Title";
  text-align: center;
  font-size: 2em;
}
