@font-face {
  font-family: "Title";
  src: url(./fonts/OptimusPrinceps.ttf);
}

.guarian-ref {
  background-color: rgb(31, 29, 44);
  color: #fffcef;
  padding: 100px 300px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.guarian-ref .content {
  border: 1px solid #fffcef;
  border-radius: 10px;
  background-color: rgb(51, 48, 73);
  flex: 1;
  padding: 0px 20px;
}

.guarian-ref .title {
  font-family: "Title";
  text-align: center;
  font-size: 100px;
  margin-top: 30px;
}
