@font-face {
  font-family: "Title";
  src: url(./fonts/OptimusPrinceps.ttf);
}

/*~*~*~*~*~*~*~*~*~*~*~*~*
  COMMON
~*~*~*~*~*~*~*~*~*~*~*~*~*/

h1 {
  font-family: "Title";
}

.guarian-ref {
  background-color: rgb(31, 29, 44);
  color: #fffcef;
  padding: 5vh 4vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*~*~*~*~*~*~*~*~*~*~*~*~*
  Menu ref
~*~*~*~*~*~*~*~*~*~*~*~*~*/

.guarian-ref .content {
  display: block;
  border: 1px solid #fffcef;
  border-radius: 10px;
  background-color: rgb(51, 48, 73);
  flex: 1;
  padding: 20px;
}

.menu-opener {
  position: fixed;
  top: 0px;
  left: 0px;
}

.menu-clickable {
  padding: 10px;
  background-color: rgb(51, 48, 73);
  cursor: pointer;
  user-select: none;
}

.menu-clickable:hover {
  background-color: rgb(60, 57, 85);
}

.menu-clickable:hover:active {
  background-color: rgb(39, 37, 56);
}

.overlay-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 0px;
  overflow-y: hidden;
  background-color: rgb(51, 48, 73);
  transition: 0.3s;
}

.overlay-menu .option {
  padding: 10px;
  cursor: pointer;
  user-select: none;
}

.overlay-menu .option:hover {
  background-color: rgb(67, 64, 94);
}

.overlay-menu .option:hover:active {
  background-color: rgb(43, 42, 61);
}

.overlay-menu .option.selected {
  background-color: rgb(203, 200, 233);
  color: rgb(51, 48, 73);
  font-weight: bold;
}

.overlay-menu .option.selected:hover {
  background-color: rgb(216, 214, 245);
}

.overlay-menu .option.selected:hover:active {
  background-color: rgb(190, 188, 221);
}

.guarian-ref .title {
  font-family: "Title";
  text-align: center;
  font-size: 3em;
  margin-top: 30px;
}

.guarian-ref .wrappable-row {
  display: flex;
  flex-wrap: wrap;
}

.guarian-ref .column {
  flex: 1;
  min-width: 300px;
  margin-top: 20px;
}

.guarian-ref .big-text {
  font-family: "Title";
  text-align: center;
  font-size: 2em;
}

/*~*~*~*~*~*~*~*~*~*~*~*~*
  react-tabs
~*~*~*~*~*~*~*~*~*~*~*~*~*/

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #fffcef;
  margin: 0;
  padding: 0;
  display: flex;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid #fffcef;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab:hover {
  bottom: 0;
  margin-top: 1px;
  padding: 6px 12px 5px;
  background-color: rgb(41, 39, 59);
}

.react-tabs__tab--selected,
.react-tabs__tab--selected:hover {
  bottom: -1px;
  margin-top: 0;
  padding: 6px 12px;
  background-color: rgb(51, 48, 73);
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
  border: 1px solid #fffcef;
  border-top: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(51, 48, 73);
  flex: 1;
  padding: 20px;
}
