.material-selector-list {
  display: flex;
  justify-content: center;
}

.material-selector-list.vertical {
  flex-direction: column;
}

.material-selector-list .material-selector {
  position: relative;
  background-color: rgb(31, 29, 44);
  cursor: pointer;
  padding: 4px 6px 0px;
  border-radius: 50px;
  user-select: none;
  overflow: hidden;
  box-shadow: 2px 2px 0px 2px rgb(19, 17, 27);
  margin: 5px;
}

.material-selector-list .material-selector:hover {
  background-color: rgb(25, 23, 36);
}

.material-selector-list .material-selector:hover:active {
  background-color: rgb(67, 63, 95);
}

.material-selector-list .material-selector.selected {
  background-color: rgb(203, 200, 233);
  color: black;
  box-shadow: none;
  margin: 7px 3px 3px 7px;
}

.material-selector-list .material-selector.shine:after {
  animation: shine 1.5s ease-in-out;
  animation-fill-mode: forwards;
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);

  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 60%,
    rgba(255, 255, 255, 0) 100%
  );
}

@keyframes shine {
  100% {
    opacity: 1;
    top: 100%;
    left: 100%;
    transition-property: left, top, opacity;
    transition-timing-function: ease;
  }
}
